{% extends 'base.html' %}

{% block content %}

<h2>Search Flights</h2>

<div id="error-message" class="alert alert-danger" role="alert" style="display: none;"></div>

<form id="flight-search-form" class="mb-4" Action="/" Method="POST">
  <div class="form-group">
    <label for="origin">Origin:</label>
    <select id="origin" name="origin" class="form-control" required>
      <option value="" selected disabled>Select Origin City</option>
      {% for city in cities %}
      <option value="{{ city }}">{{ city }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="destination">Destination:</label>
    <select id="destination" name="destination" class="form-control" required>
      <option value="" selected disabled>Select Destination City</option>
      {% for city in cities %}
      <option value="{{ city }}">{{ city }}</option>
      {% endfor %}
    </select>
  </div>
  <button type="submit" class="btn btn-dark my-3">Search Flights</button> 
</form>

<script>
  document.getElementById("flight-search-form").addEventListener("submit", function(event) {
    event.preventDefault();
    
    var origin = document.getElementById("origin").value;
    var destination = document.getElementById("destination").value;
    var errorMessageElement = document.getElementById("error-message");
    
    if (!origin || !destination) {
      errorMessageElement.style.display = "block";
      errorMessageElement.textContent = "Please select both origin and destination cities.";
      return;
    }
    
    if (origin === destination) {
      errorMessageElement.style.display = "block";
      errorMessageElement.textContent = "Origin and destination cities cannot be the same.";
      return;
    }
    
    // Proceed with flight search
    document.getElementById("flight-search-form").submit();
  });
</script>

{% endblock %}

