{% extends 'base.html' %}

{% block content %}

<h2>Payment</h2>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form action="/payment/{{ reservation_id }}/{{ origin }}/{{ destination }}" method="post">
        <div class="form-group">
          <label for="amount">Amount:</label>
          <input type="text" id="amount" name="amount" class="form-control" value="$1499.99" readonly>          
        </div>
        <div class="form-group">
          <label for="credit-card">Credit Card Number:</label>
          <input type="text" id="credit-card" name="credit-card" class="form-control" required>                    
        </div>
        <div class="text-center">
          <button class="btn btn-dark my-3">Confirm Payment</button>
          <a href="/" class="btn btn-secondary my-3">Cancel</a>
        </div>
        {% if error_message %}
        <div style="color: red;">
            {{ error_message }}
        </div>
      {% endif %}      
      </form>
    </div>
  </div>
</div>

{% endblock %}


